/* configurações do site*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: rgb(6, 6, 6);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    border: 3px solid rgb(41, 41, 41);
}

:root {
    --primary-color: #fff;
    --secondary-color: #8257E6;
    --tertiary-color: #2f0549;
    --quaternary-color: #f4f4f4;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
}

/* cabeçalho do site */

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    background-color: #151418;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.menu a {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: #fff;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

/* main */

.home-section {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('../img/background.webp');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.home-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
    width: 20rem;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: row;
    width: 100%;
    gap: 1rem;
}

.title h2 {
    font-size: 2.5rem;
}

.title span {
    font-size: 3rem;
    color: var(--secondary-color);
    font-weight: bold;
}

.title p {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(130, 87, 230, 0.8) .2%, rgba(121, 48, 190, 0.648) 100%);
    font-weight: bold;
    width: 100%;
}

.btn:hover {
    background-color: var(--tertiary-color);
    transform: scale(0.95);
    transition: 0.5s;
}

.btn-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    width: 100%;
}

.btn-outlined:hover {
    background-image: linear-gradient(90deg, rgba(130, 87, 230, 0.8) .2%, rgba(121, 48, 190, 0.648) 100%);
    color: var(--primary-color);
    transform: scale(0.95);
    transition: 0.5s;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.picture {
    max-height: 100%;
    max-width: 100%;
}

/* sobre */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 4rem 0 4rem 0;
    gap: 2rem;
    text-align: center;
}

.about-content p {
    line-height: 1.5rem;
    font-size: 1rem;
}

/* habilidades */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--quaternary-color);
    padding: 4rem 0 4rem 0;
}

.skills-container {
    flex-direction: column;
}

.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    gap: 1rem;
    text-align: center;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills .container h2 {
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1rem 0 1rem 1rem;
    width: 6rem;
    height: 6rem;
    gap: 0.3rem;
    border-bottom: var(--secondary-color) 5px solid;
}

.skill:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.skill img {
    width: 2rem;
}

/* projetos */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    padding: 4rem 0 4rem 0;
    color: var(--primary-color);
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1rem;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    min-width: 20rem;
    border-bottom: var(--secondary-color) 5px solid;
    flex-grow: 1;
    width: 10rem;
}

.project:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.project-img {
    max-width: 100%;
    border-radius: 1rem;
    filter: brightness(0.7);

}

.project-img:hover {
    filter: brightness(1);
    transition: 0.5s;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 0.6rem;
}

.project:hover .details {
    display: none;
}

.details p {
    font-size: 1.2rem;
    font-weight: bold;
}

.tecnologies img {
    width: 2.5rem;
}

/* contato */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 8rem 0 8rem 0;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--primary-color);
}


.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--primary-color);
}

.contact-info:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.contact-info i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: var(--secondary-color);
}

/* Celular */

@media (max-width: 576px) {

    /* seção inicial */
    .profile-picture {
        display: none;
    }

    .home-content {
        width: 100%;
        text-align: center;
    }

    /* sobre */
    .about-content {
        width: 80%;
    }

    /* projetos */
    .project {
        width: 100%;
        min-width: none;
    }

    /* contatos */
    .contacts {
        width: 100%;
    }

}

@media (max-width: 768px) {

    /* header */
    .menu {
        flex-direction: column;
        background-color: #151418;
        align-items: center;
        position: absolute;
        top: 63px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 1rem;
    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }

    /* projetos */
    .project {
        width: 100%;
    }

    /* contatos */
    .contacts {
        width: 100%;
    }
}


@media (max-width: 992px) {

    /* sobre */
    .about-content {
        width: 80%;
    }
}

